/* Mise en forme photo de profil */

.photo-profil {
  display: block;
  width: 160px;
  height: 160px;
  transform: rotate(40deg);
  transition: 0.5s ease;
}

.photo-profil:hover {
  transform: scale(1.5) rotate(40deg);
}

/* Mise en forme cadre photo de profil */

.accueil {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rond {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin: 35px auto;
  padding: 2rem;
  background-color: #adadad;
  border: black solid 8px;
}

.carre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 135px;
  padding: 1rem;
  background: linear-gradient(
    to right,
    #00678c 25%,
    #1572b6 25% 50%,
    #33a9dc 50% 75%,
    #05d8fd 75%
  );
  transform: rotate(-45deg);
}

/* Mise en forme des écrits */

.bienvenue {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

/* Mise en page des logos de langage */

.techno {
  margin: 100px 0 25px;
}

.logo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  padding-inline-start: 0;
}

.logo li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.logo li img {
  width: 30px;
  height: 30px;
  margin-top: 0.5rem;
  transition: all 0.5s ease;
}

.logo li:hover img {
  transform: scale(1.5);
}

.logo li a.certificat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo li a.certificat img {
  animation: bounce 1.5s infinite ease;
}

.logo li a.certificat:hover img {
  animation: bounce 0.5s both;
  animation: none;
}

@keyframes bounce {
  0% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

/* Média Queries - Adaptation sur écran de plus de 381px de large et 1025px de haut */

@media screen and (min-width: 320px) and (min-height: 1070px) {
  /* Mise en place du footer en bas de page quand pas suffisamment de contenu */

  .page-accueil ~ footer {
    position: fixed;
    bottom: 0;
  }
}

/* Média Queries - Adaptation sur écran de plus de 768px de large */

@media screen and (min-width: 768px) {
  /* Mise en forme photo de profil */

  .photo-profil {
    width: 275px;
    height: 275px;
  }

  /* Mise en forme cadre photo de profil */

  .rond {
    width: 350px;
    height: 350px;
    margin: 40px auto;
  }

  .carre {
    width: 250px;
    height: 250px;
  }
}

/* Média Queries - Adaptation sur écran de plus de 992px de large */

@media screen and (min-width: 992px) {
  /* Mise en forme photo de profil */

  .photo-profil {
    width: 275px;
    height: 275px;
  }

  /* Mise en forme cadre photo de profil */

  .rond {
    width: 350px;
    height: 350px;
    margin: 50px auto;
  }

  .carre {
    width: 250px;
    height: 250px;
  }
}

/* Média Queries - Adaptation sur écran de plus de 992px de large et 1049px de haut */

@media screen and (min-width: 992px) and (min-height: 1049px) {
  /* Mise en place du footer en bas de page quand pas suffisamment de contenu */

  /* .page-accueil ~ footer {
    position: fixed;
    bottom: 0;
  } */
}
