/* Mise en place du footer en bas de page quand pas suffisamment de contenu */

.dashboard-images ~ footer {
  position: fixed;
  bottom: 0;

  /* Permet de masquer le footer */

  display: none;
}

/* Mise en place du titre de la page */

.images-title {
  text-align: center;
  margin: 1rem;
}

/* Mise en place et style du formulaire */

.container-all-images {
  max-width: 100vw;
}

.container-images {
  background-color: #404040;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 25px;
}

.container-form {
  margin: 4vh auto;
  max-width: 350px;
}

select,
input,
textarea {
  margin: 1vh auto 4vh;
  background-color: #e5e5e5;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #adadad;
  font-size: 14px;
}

textarea {
  height: initial;
}

[type='file']::-webkit-file-upload-button {
  background-color: #e5e5e5;
  color: #adadad;
}

[type='date']::-webkit-datetime-edit {
  color: #adadad;
}

.container-form select {
  color: #adadad;
}

input::placeholder,
textarea::placeholder {
  color: #adadad;
}

/* Mise en forme des images */

.all-images {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

/* Mise en forme input type file */

.images-upload input {
  padding: 0.8rem;
  color: #ff1616;
  outline: none;
}

/* Mise en place et style du bouton */

.grid-button-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 4vh;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.grid-button-images .button {
  width: 100%;
}

.grid-button-images li:nth-child(1) {
  grid-row: 1;
  grid-column: 2;
}

.add {
  background-color: #adadad;
  color: #e5e5e5;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}

.button-delete-images {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-images {
  background-color: #ff1616;
  color: #05d8fd;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  margin: 0.5rem;
}

/* Définition des images que l'on affiche */

.all-images img {
  width: 150px;
  height: auto;
  border-radius: 5px;
}

/* Média Queries - Adaptation sur écran de plus de 768px */

@media screen and (min-width: 768px) {
  /* Media Query dash.Images */

  /* Définition des images que l'on affiche */

  .all-images img {
    width: 250px;
  }
}
