.modal-container {
  width: 315px;
  height: 315px;
  position: absolute;
  top: 34.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: #333;
  z-index: 9;
}

.modal-container img {
  width: 100%;
}

.modal-container .body p {
  color: #333;
}

.modal-container .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
}

.title-close-btn {
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

.title-close-btn button {
  background-color: transparent;
  border-radius: 100%;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  color: #e5e5e5;
}

.modal-container .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}
