.modal-container {
  width: 265px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  color: #333;
  z-index: 9;
}

.modal-container img {
  width: 100%;
}

.modal-container .body p {
  color: #333;
}

.modal-container .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
}

.title-close-btn {
  position: absolute;
  right: -12.5px;
  top: -12.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-close-btn button {
  background-color: #333;
  color: #ff1616;
  border-radius: 100%;
  border: 2px solid #ff1616;
  width: 25px;
  height: 25px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}

.modal-container .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

/* Média Queries - Adaptation sur écran de plus de 381px */

@media screen and (min-width: 381px) {
  /* Media Query Modal */
  .modal-container {
    width: 300px;
    top: 44%;
    left: 50%;
  }
}

/* Média Queries - Adaptation sur écran de plus de 768px */

@media screen and (min-width: 768px) {
  /* Media Query Modal */
  .modal-container {
    width: 350px;
    top: 25%;
    left: 50%;
  }
}

/* Média Queries - Adaptation sur écran de plus de 992px */

@media screen and (min-width: 992px) {
  /* Media Query Modal */
  .modal-container {
    width: 450px;
    top: 30%;
    left: 50%;
  }
}
