/* Permet de masquer le footer */

/* .a-propos ~ footer { */

/* display: none; */

/* } */

/* Mise en forme du texte (titre et paragraphe) */

.presentation {
  margin-left: 7%;
  margin-right: 7%;
  text-align: left;
  color: #e5e5e5;
  font-size: 1.3rem;
}

.presentation p {
  text-align: justify;
  color: #e5e5e5;
  font-size: 0.9rem;
}
