/* Mise en forme photo */

.about-photo-profil {
  display: block;
  width: 140px;
  height: 140px;
  transform: rotate(40deg);
  transition: 0.5s ease;
}

.about-photo-profil:hover {
  transform: scale(1.5) rotate(40deg);
}

/* Mise en forme cadre photo */

.about-rond {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 230px;
  height: 230px;
  margin: 35px auto;
  padding: 2rem;
  background-color: #adadad;
  border: #000 solid 8px;
}

.about-carre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 145px;
  padding: 1rem;
  background: linear-gradient(
    to right,
    #00678c 25%,
    #1572b6 25% 50%,
    #33a9dc 50% 75%,
    #05d8fd 75%
  );
  transform: rotate(-45deg);
}

.container-about {
  background-color: #404040;
  align-items: center;
  flex-direction: row;
  text-align: center;
  margin: 1rem 0;
  border-radius: 25px;
}

.container-about-image {
  display: flex;
  justify-content: center;
  vertical-align: baseline;
}

.container-about-description {
  padding: 1rem;
}

.about-title {
  margin: 1rem 2.7rem;
  text-align: center;
}

/* Mise en place du cadre about */

.about {
  background-color: #404040;
  margin: 1rem 0;
  padding: 2rem 0;
  border-radius: 25px;
}

/* Mise en forme du texte (titre et paragraphe) */

.presentation-p {
  margin: 2rem 2.7rem;
  text-align: justify;
  color: #e5e5e5;
  font-size: 1.2rem;
}

/* Mise en place et style des boutons */

.button-my-work {
  display: block;
  text-align: center;
  background-color: #05d8fd;
  color: #ff1616;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}

.button-contact-me {
  display: block;
  text-align: center;
  background-color: #ff1616;
  color: #05d8fd;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}

.button-about {
  display: flex;
  flex-direction: column;
  grid-row-gap: 1rem;
  margin: 0 2.7rem;
}

/* Média Queries - Adaptation sur écran d'au moins 625px de large et 675px de haut. */

@media screen and (min-width: 625px) and (min-height: 1395px) {
  /* Mise en place du footer en bas de page quand pas suffisamment de contenu */

  .about-page ~ footer {
    position: fixed;
    bottom: 0;
  }
}

/* Média Queries - Adaptation sur écran de plus de 768px de large */

@media screen and (min-width: 768px) {
  /* Mise en place photo, texte et boutons */

  .container-about {
    display: flex;
  }

  .container-about-image {
    display: flex;
    justify-content: center;
    padding: 0 2.7rem;
    vertical-align: baseline;
  }

  .container-about-description {
    padding: 1rem 0;
  }

  .about-title {
    margin: 1rem 0;
    text-align: center;
  }

  .button-about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

/* Média Queries - Adaptation sur écran de plus de 768px de large et de 1160px de haut */

@media screen and (min-width: 768px) and (min-height: 1160px) {
  /* Mise en place du footer en bas de page quand pas suffisamment de contenu */

  .about-page ~ footer {
    position: fixed;
    bottom: 0;
  }
}

/* Média Queries - Adaptation sur écran de plus de 992px de large */

@media screen and (min-width: 992px) {
  /* Mise en place photo, texte et boutons */

  .about-title {
    margin: 1rem 2.7rem;
  }
}
