/* Mise en forme du texte (titre et paragraphe) */

.presentation {
  margin-left: 7%;
  margin-right: 7%;
  text-align: left;
  color: #e5e5e5;
  font-size: 1.3rem;
}

.presentation p {
  text-align: justify;
  color: #e5e5e5;
  font-size: 0.9rem;
}

/* Média Queries - Adaptation sur écran de plus de 360px */

@media screen and (min-width: 360px) {
  /* Media Query BurgerMenu */
}

/* Média Queries - Adaptation sur écran de plus de 768px */

@media screen and (min-width: 768px) and (min-height: 450px) {
  /* Mise en place du footer en bas de page quand pas suffisamment de contenu */

  .page-a-propos ~ footer {
    position: fixed;
    bottom: 0;
  }
}

/* Média Queries - Adaptation sur écran de plus de 992px */

@media screen and (min-width: 992px) and (min-height: 450px) {
  /* Mise en place du footer en bas de page quand pas suffisamment de contenu */

  .page-a-propos ~ footer {
    position: fixed;
    bottom: 0;
  }
}
