/* Mise en place d'un box-sizing à l'ensemble du site */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Mise en forme du body dans son conteneur */

body {
  max-width: 1360px;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  background-color: #333;
  color: #e5e5e5;
}

/* Il s'agit de régler la hauteur de l'application sur la hauteur de la fenêtre d'affichage */

/* .app {
  position: relative;
  min-height: 100vh;
} */

/* Style des label */

label {
  display: block;
}

#label-connect {
  text-align: center;
}

/* Style des input */

select:focus-visible,
input:focus-visible,
textarea:focus-visible {
  outline: #ff1616 auto 1px;
}

/* Style des boutons et des balises a */

button {
  cursor: pointer;
}

button:not(.burger-menu) :not(.close-btn),
.button-my-work,
.button-cv,
.button-contact-me,
.send,
.create,
.validate,
.add,
.modify,
.delete {
  width: 100%;
  padding: 1em;
  box-shadow: 6px 6px 6px #adadad;
}

.overlay-project-link,
.delete-images {
  width: 51%;
  padding: 1em;
  box-shadow: 6px 6px 6px #adadad;
}

button:hover:not(.burger-menu),
.button-my-work:hover,
.button-cv:hover,
.button-contact-me:hover,
.overlay-project-link:hover,
.send:hover,
.create,
.validate,
.add,
.modify,
.delete,
.delete-images {
  transform: translateY(3.5px);
  box-shadow: 4px 4px 4px;
}

button:active:not(.burger-menu),
.button-my-work:active,
.button-cv:active,
.button-contact-me:active,
.overlay-project-link:active,
.send:active,
.create,
.validate,
.add,
.modify,
.delete,
.delete-images {
  transform: translateY(7px);
  box-shadow: 2px 2px 2px;
  color: #fff;
}

/* Média Queries - Adaptation sur écran de plus de 460px */

@media screen and (min-width: 460px) {
  /* Style des boutons (balises a) dans le carousel */

  .overlay-project-link {
    width: 40%;
  }
}

/* Média Queries - Adaptation sur écran de plus de 768px */

@media screen and (min-width: 768px) {
  /* Media Query APropos */
  .presentation {
    font-size: 2rem;
  }

  .presentation p {
    font-size: 1.5rem;
  }

  /* Media Query Accueil */
  .photo-profil {
    width: 300px;
    height: 300px;
  }

  .overlay-project-link {
    width: 50%;
  }
}

/* Média Queries - Adaptation sur écran de plus de 992px */

@media screen and (min-width: 992px) {
  /* Media Query APropos */
  .presentation {
    font-size: 2rem;
  }

  .presentation p {
    font-size: 1.5rem;
  }

  /* Media Query Accueil */
  .photo-profil {
    width: 300px;
    height: 300px;
  }

  .overlay-project-link,
  .delete-images {
    width: 55%;
  }
}
