/* Mise en forme du body dans son conteneur */

body {
  max-width: 1360px;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  background-color: #333;
  color: #e5e5e5;
}

/* Mise en forme du conteneur global */

.page {
  min-height: 89vh;
  display: flex;
  flex-direction: column;
}
