/* Mise en forme du body dans son conteneur */

body {
  max-width: 1360px;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  background-color: #333;
  color: #e5e5e5;
}

/* Média Queries - Adaptation sur écran de plus de 768px */

@media screen and (min-width: 768px) {
  /* Media Query APropos */
  .presentation {
    font-size: 2rem;
  }

  .presentation p {
    font-size: 1.5rem;
  }

  /* Media Query Accueil */
  .photo-profil {
    width: 300px;
    height: 300px;
  }
}

/* Média Queries - Adaptation sur écran de plus de 992px */

@media screen and (min-width: 992px) {
  /* Media Query APropos */
  .presentation {
    font-size: 2rem;
  }

  .presentation p {
    font-size: 1.5rem;
  }

  /* Media Query Accueil */
  .photo-profil {
    width: 300px;
    height: 300px;
  }
}
