/* Mise en place du footer en bas de page quand pas suffisamment de contenu */

.dashboard-connect ~ footer {
  position: fixed;
  bottom: 0;

  /* Permet de masquer le footer */
  display: none;
}

/* Mise en place et style du formulaire */

.container-form-connect {
  margin: 8vh auto;
  max-width: 350px;
}

.user-name,
.password {
  display: flex;
  margin: 2vh auto 10vh;
}

#user-name,
#password {
  width: 100%;
  height: 75px;
  border-radius: 5px;
  border: 2px solid #adadad;
  font-family: aileronregular, arial, helvetica, sans-serif;
  font-size: 14px;
}

#user-name::placeholder,
#password::placeholder {
  color: #adadad;
}

/* Mise en place et style du bouton */

.button-connect {
  display: flex;
  margin: auto;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  font-size: 15px;
}

.validate {
  width: 150px;
  background-color: #05d8fd;
  color: #ff1616;
  border-radius: 5px;
  border: none;
}
